@model MVCmappimgTest.Models.MainModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
    <style>
        table {
            border-width: 1px;
            border-style: solid;
            border-collapse: collapse;
        }
        th, td {
            border-width: 1px;
            border-style: solid;
        }
        .border-double {
            border-left-width: 3px;
            border-left-style: double;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("send", "Main", FormMethod.Post))
        {

            <table>
                <tr>
                    <th>
                        check
                    </th>
                    <th>
                        No
                    </th>
                    <th>
                        Name
                    </th>
                    <th class="border-double">
                        check
                    </th>
                    <th>
                        No
                    </th>
                    <th>
                        Name
                    </th>
                    <th class="border-double">
                        check
                    </th>
                    <th>
                        No
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
                @{
                    int maxCount = Model.subModels.Count();
                    foreach (var item in Model.subModels)
                    {
                        if (item.No % 3 == 0)
                        {
                            @Html.Raw("<tr>")
                        }
                        var classValue = "border-double";
                        if (item.No % 3 == 0)
                        {
                            classValue = string.Empty;
                        }
                        
                        <td class=@classValue>
                            @if(item.IsExist){
                                @Html.CheckBoxFor(model => model.checks[item.No], new { @id = item.No, @name = item.Name })
                            }
                        </td>
                        <td>
                            @if(item.IsExist){
                                @Html.Raw(item.No)
                            }
                        </td>
                        <td>
                            @if(item.IsExist){
                                @Html.Raw(item.Name)
                            }
                        </td>

                        if (item.No % 3 == 2)
                        {
                            @Html.Raw("</tr>")
                        }
                    }
}
            </table>

            <input type="submit" value="send" />
        }

    </div>
</body>
</html>
